div{
    float: left;
    height:300px;
}
.div_1{
    width: 50%;
    background-color: rgb(174, 111, 233);
}
.div_2{
    width: 50%;
    background-color:rgb(241, 102, 167);
}
.container{
    margin: 100px 100px 0 100px;
}
p{
    font-family: 'Amatic SC', cursive;
    
}
@media only screen and (max-width:600px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .div_1{
        width: 50%;
        background-color: rgb(69, 12, 122);
        margin-bottom: 50%;
    }
    .div_2{
        width: 50%;
        background-color: rgb(167, 31, 94);
    }

}